<%- include(header); -%>

<form method="post"> 

    <table>
        <tr>
            <td>
                ProductId:
            </td>
            <td>
                <input type="text" placeholder="Enter Product ID" name="product_id" required>
            </td>
        </tr>
        <tr>
            <td>
                Product Name:
            </td>
            <td>
                <input type="text" placeholder="Enter Product Name" name="productName" required>
            </td>
        </tr>
        <tr>
            <td>
                Category:
            </td>
            <td>
                <input type="text" placeholder="Enter Category" name="category" required>
            </td>
        </tr>
        <tr>
            <td>
                CategoryId:
            </td>
            <td>
                <input type="text" placeholder="Enter Category ID" name="category_id" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit">
                <input type="button" value="Diaplay" onclick="window.location='display'">
            </td>
        </tr>
    </table>